<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Arthentai API</title>
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Arthentai
      </h1>
      Test of scraper - This example queries
      <a href="https://arthentai.net">arthentai.net</a> API.
    </header>
<br />
    <main>
      Latest update: /latest
      <br />
      Info : /hentai/:manga_url
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>! - KuronekoNy4n</footer>
  </body>
</html>
