/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 20px;
}

a{
  text-decoration: none;
}

h1 {
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

ul{
  margin: 0;
}

main {
  color: #fff;
  list-style-type: none;
  margin-bottom: 10px;
  padding: 20px;
  background: linear-gradient(18deg, #ff0000, #1c00ff);
  background-size: 400% 400%;
  border: 1px solid #fff;
  border-radius: 10px;
  -webkit-animation: AnimationName 2s ease infinite;
  -moz-animation: AnimationName 2s ease infinite;
  animation: AnimationName 2s ease infinite;
  transition: .5s ease;
}

li:hover{
  abox-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

h3 {
  margin: 0px;
}

h3 a{
  color: #fff;
}
span {
  color: #ccc;
}

.loading {
  width: 4em;
  animation: 2s hue-throb linear infinite;
}

@keyframes hue-throb {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes AnimationName {
    0%{background-position:64% 0%}
    50%{background-position:37% 100%}
    100%{background-position:64% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:64% 0%}
    50%{background-position:37% 100%}
    100%{background-position:64% 0%}
}
@keyframes AnimationName {
    0%{background-position:64% 0%}
    50%{background-position:37% 100%}
    100%{background-position:64% 0%}
}